.header{
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: static;
}

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 11rem;
    height: 15rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7rem;
    border-radius: 12rem 12rem 0 0;
}
